.RightBarC{position: absolute;
    z-index: 5;
left:95%;


height: 30%;
top:0;
position:fixed;

width: 5%;


}

/*-----------*/
.RightBarF{
    position: sticky;
   margin-left: 0%;
   
    height: 00px;
    z-index: 5;
    width: 100%;
    
}
/*-----------*/
.RightBarOC{
  
   margin-left: 0%;
  
    height: 280px;
    width: 100%;
    background-color: #dddbdb;
    border-radius: 0 0 0 100px;
}
.RightBarO{
    position: sticky;
    
}
/*-----------*/
.AvatarR{
    padding: 20px;
   margin-top: 48px;
}
.AvatarR:hover{
    cursor: pointer;
    background-color: #0087a1;
    color: blanchedalmond;
}
.iconR{
  
    color:#0087a1;
    padding: 20px;
   
}
.iconR:hover{
    cursor: pointer;
    background-color: #0087a1;
    color: blanchedalmond;
}
.OpenR{
    padding: 20px;
    display: flex;
    width: 320px;
    
    font-size: 18px;
    background-color: #0087a1;
    color: white;
    margin-left: -140px;
    border-radius: 0 0 0 40%;
}
