
.hel{
    position: absolute;
   width: 28%;
   height: 100%;
   left: 0px;
   top: 0px;
   
     
   }
   
   .hell{
    position: absolute;
    width: 28%;
    height: 100%;
    left: 72%;
    top: 0px;
   
   }