.alll{
    background-color: #dddbdb;
    overflow-y: auto;
}
.logoHome{
    position: relative;
    width: 20%;
    margin-left: 40%;
    margin-top: 0%;

}

.hellp p{
    position: relative;
    margin-left: 40%;
}   

.photo1{
    margin-top: 10%;
    margin-left: 60%;
    width: 20%;
}