
.hel{
    position: fixed;
   width: 28%;
   height: 100%;
   left: 0px;
   top: 0px;
   z-index: -2;
   opacity: 80%;
   
     
   }
   
   .hell{
    position: fixed;
    width: 28%;
    height: 100%;
    left: 72%;
    top: 0px;
    z-index: -2;
    opacity: 80%;
   }